body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* .mobile-list {
  text-align: center;
  padding: 20px;
} */

.mobile-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* .mobile-card {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
} */

/* .mobile-card img {
  width: 100px;
  height: 150px;
} */

.mobile-card a {
  display: block;
  margin-top: 10px;
  background: blue;
  color: white;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}